{% extends 'navbarAbout.html' %}
{% load static %}

{% block content %}
<div class="row" style="margin-top: 90px; justify-content: center">
    <div class ="col-sm-5" style="display: flex; flex-direction: row; text-align: left">
        <div style="flex: 1">
            <a href="https://quanta2018.com/Biodata/detail.html?absen=225">
                <img src="https://quanta2018.com/Biodata/img/225.png" alt="Gafi" style="width: 150px; border-radius: 50%">
            </a>
        </div>
        <div style="flex: 1">
            <a href="https://quanta2018.com/Biodata/detail.html?absen=311">
                <img src="https://quanta2018.com/Biodata/img/311.png" alt="Sam" style="width: 150px; border-radius: 50%">
            </a>
        </div>
    </div>
    <div class="col-sm-2" style="flex: 1; padding-top: 50px; padding-bottom: 50px; text-align: center">
        <h3>About Us</h3>
    </div>
    <div class="col-sm-5" style="display: flex; flex-direction: row; text-align: right;">
        <div style="flex: 1">
            <a href="https://quanta2018.com/Biodata/detail.html?absen=201">
                <img src="https://quanta2018.com/Biodata/img/201.png" alt="Ludy" style="width: 150px; border-radius: 50%">
            </a>
        </div>
        <div style="flex: 1">
            <a href="https://quanta2018.com/Biodata/detail.html?absen=333">
                <img src="https://quanta2018.com/Biodata/img/333.png" alt="Reimon" style="width: 150px; border-radius: 50%">
            </a>
        </div>  
    </div>
</div>
<div style="justify-content: center; padding-top: 40px;">
    <div style="background-color: #84C4FF; text-align: center; padding-top: 20px; padding-bottom: 20px">
        <p style="font-size: 27px">
            We’re a team of four undergraduate students from the Faculty of <br>
            Computer Science in University of Indonesia, learning about Web Design, and <br>
            are trying to apply them in a contextual fashion. We hope that this web <br>
            application can satisfy some of your needs. Thanks!
        </p>
    </div>
</div>
<div style="text-align: center; padding-top: 15px; padding-bottom: 10px; font-size: 25px;">
    <p>Please give us your feedback</p>
</div>
<div style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px">
    <form action="send_feedback" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div style="text-align: center; padding-top : 20px">
            <button class="btn btn-outline-dark" style = "color: #84C4FF" type="submit">Send</button>
        </div>
    </form>
</div>

{% endblock %}