{% extends 'navbarAbout.html' %}
{% load static %}

{% block content %}
<div style="text-align: center; padding-top: 170px">
    <h2>Thank you for your feedback!</h2>
    <a href="/AboutUs">back to previous page</a>
</div>
{% endblock %}