table {
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 23px;
}

.header{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
}

.submitBtn{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
}