table {
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 23px;
}

.header{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
}

.submitBtn{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
}

#helloWorld{
    color: black;
}

.formBox{
    border: 3px solid #84C4FF;
    border-radius: 51px;    
    margin-bottom: 20px;
    padding-top: 10px;
    
}