{% extends 'navbarForum.html' %}
{% load static %}

{% block content %}
<link rel = 'stylesheet'; href = "{% static 'css/forumbubblebox.css' %}">

  <br><br><br>
  <div class="header">DISCUSSION FORUM</div>
  <div class="">
    <div class="container-fluid bg-1 text-center" id ="top">
        <div class="row">
            <div class="col-lg-12">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-sm-1"></div>
                        <div class="form-group col-sm-10 tag">
                            {% for fields in form %}
                                {{ fields.label_tag }}
                                {{ fields }}<br>
                                
                            {% endfor %}
                            <input type="submit" class="btn btn-primary center" value="Add">
                        </div>
                    </div>
                </form>                
            </div>
        </div>

</div>
  </div>

  <!-- <div class="container-fluid bg-2 text-center e" id ="schedule">
        <h3 class="margin 5">SCHEDULE</h3>
        <div class="row">
          <table class="table tag">
              <thead>
              <tr>
                  <th scope="col">username</th>
                  <th scope="col">comment</th>
              </tr>
              </thead>
              <tbody>
                  {% for forum in temp %}
                      <tr>
                          <td>{{ forum.name }}</td>
                          <td>{{ forum.message}}</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table> -->

  <div class="container-fluid bg-2 text-center e" id ="schedule">
      <div class="row">
    <div class="col-sm-12 bd">
          <body>
              {% for forum in temp  %}
              <div class = "box sb1">

                  
                      <p>{{ forum.name }}</p><br>
                      <p>{{ forum.message}}</p>
                </div>
              {% endfor %}
          </body>
</div>



{% endblock %}