{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <br><br><br>
          <h2 id="Events">Events</h2><hr>
        </div>
      </div>

      <div class="row justify-content-center align-items-center">
        <div class="container backforms">
            <div class="article">
                
                <div class="article">
                    <div class="row">
                        {% for event in events %}
                            
                            <div class="col-sm-12 text-center formBox" id="boxEvent">
                                <p><strong>{{ event.name }}</strong></p>
                                <p>{{ event.date}}</p>
                                <p>{{ event.time }}</p>
                                <p>Rp. {{ event.entranceFee }}</p>
                                
                            </div>
                            
                            
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>


{% endblock %}
