{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
    <br><br><br>
    <div class="header">Search Event</div>
    <form method="POST">
        {% csrf_token %}
        <table>
            <div class="form-group">
                {{ form }}
        </div>
        </table>
        <br><br>
        <div class="submitBtn">
            <button type="submit" class="btn btn-primary">
                SUBMIT
            </button>
        </div>
    </form>
</div>
{% endblock %}